@charset "UTF-8";

body {
  margin: 0;
  padding-top: 6rem;
}

/* index.html */
nav {
  background-color: rgba(0, 0, 0, 0.8);
}

#nav-title {
  text-decoration: none;
}

#nav-title:hover {
  text-decoration: none;
}

#nav-title:visited {
  color: white;
}

/* introduction.html */
#introduction_main .jumbotron {
  background-image: url('../img/introduction/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#jumbotron_inner {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}

#introduction_img img {
  margin: 0 0 60px 0;
  size: cover;
}

/* schedule.html */
#schedule_table{
  margin: 0 10px 0 10px;
}

/*  */
#koya .jumbotron {
  background-image: url('../img/koya/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#koya_img img {
  margin: 0 0 60px 0;
  size: cover;
}
