@charset "UTF-8";

body {
  margin: 0;
  padding-top: 6rem;
}

nav {
  background-color: rgba(0, 0, 0, 0.7);
}

#nav-title {
  text-decoration: none;
}

#nav-title:hover {
  text-decoration: none;
}

#nav-title:visited {
  color: white;
}
