@charset "UTF-8";

body {
  margin: 0;
  padding-top: 6rem;
}

/* index.html */
nav {
  background-color: rgba(0, 0, 0, 0.8);
}

#nav-title {
  text-decoration: none;
}

#nav-title:hover {
  text-decoration: none;
}

#nav-title:visited {
  color: white;
}

/* introduction.html */
#introduction_main .jumbotron {
  background-image: url('../img/introduction/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#jumbotron_inner {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}

#introduction_main #jumbotron_inner div {
  max-width: 1080px;
}

#introduction_img img {
  margin: 0 0 60px 0;
}

/* schedule.html */
#schedule_table {
  margin: 0 10px 0 10px;
}

/* member.html  */
#members_main .jumbotron {
  background-image: url('../img/members.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#members_main #jumbotron_inner div {
  max-width: 540px;
}

/* koya.html  */
#koya_main .jumbotron {
  background-image: url('../img/koya/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#koya_main #jumbotron_inner div {
  max-width: 1080px;
}

#koya_img img {
  margin: 0 0 60px 0;
}

.page_link {
  margin-top: -100px;
  padding-top: 100px;
}

#koya_main .col-lg-4 {
  margin-top: 30px;
}

/* welcome.html  */
#welcome_main .jumbotron {
  background-image: url('../img/welcome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#welcome_main #jumbotron_inner div {
  max-width: 1080px;
}
